# deps
node_modules
.pnp
.pnp.js

# build
dist
build
.astro
.output
.vercel

# env
.env
.env.*
!.env.example

# os
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*
pnpm-debug.log*

# cache
.cache
.parcel-cache
.eslintcache
